<nav><app-Title></app-Title></nav>
<app-InformationDialog></app-InformationDialog>
<div class="gridPanel">
    <app-MacroNutrientCard title="Grasa" [caloriesPortion]="45" image="assets/fat.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Proteina" [caloriesPortion]="75" image="assets/protein.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Lacteo" [caloriesPortion]="90" image="assets/milk.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Harina" [caloriesPortion]="80" image="assets/carbohydrate.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Fruta" [caloriesPortion]="65" image="assets/fruit.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Vegetal" [caloriesPortion]="25" image="assets/vegetable.svg"></app-MacroNutrientCard>
    <app-MacroNutrientCard title="Azucar" [caloriesPortion]="40" image="assets/sugar.svg"></app-MacroNutrientCard>
</div>
<footer><app-ProgressBar></app-ProgressBar></footer>