<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
        <a href=""><button mat-button>Inicio</button></a>
        <br>
        <a href="/Estadisticas"><button mat-button>Estadisticas</button></a>
    </mat-sidenav>

    <mat-sidenav-content>
        <nav>
            <mat-toolbar>
                <button mat-icon-button class="mat-focus-indicator example-icon mat-icon-button mat-button-base"
                    aria-label="Example icon-button with menu icon" (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>{{name}}</span>
            </mat-toolbar>
        </nav>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>