.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busy-loader-text {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: xx-large;
}